.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1187px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 32px 852px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  align-self: center;
  margin: -28px 0 0 auto;
  padding: 2px 21px 3px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 394px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-image-1 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 38px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-image-2 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 38px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-image-3 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 38px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-image-4 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 38px 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-image-5 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 38px 0 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-1 .u-list-2 {
  grid-template-rows: auto;
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 394px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

.u-section-1 .u-image-6 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 38px 0 0;
}

.u-section-1 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px;
}

.u-section-1 .u-image-7 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: 38px 0 0;
}

.u-section-1 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px;
}

.u-section-1 .u-image-8 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: 38px 0 0;
}

.u-section-1 .u-btn-9 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px;
}

.u-section-1 .u-image-9 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: 38px 0 0;
}

.u-section-1 .u-btn-10 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 20px;
}

.u-section-1 .u-image-10 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  margin: 38px 0 0;
}

.u-section-1 .u-btn-11 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px auto 0;
  padding: 10px 53px 10px 51px;
}

.u-section-1 .u-list-3 {
  width: 338px;
  margin: 25px auto 60px;
}

.u-section-1 .u-repeater-3 {
  min-height: 105px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 0;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 9px 8px 11px 7px;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 0;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 9px 8px 11px 7px;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 0;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 9px 8px 11px 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 652px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 325px;
  }

  .u-section-1 .u-image-1 {
    height: 168px;
  }

  .u-section-1 .u-btn-2 {
    padding: 2px 0;
  }

  .u-section-1 .u-image-2 {
    height: 168px;
  }

  .u-section-1 .u-btn-3 {
    padding: 2px 0;
  }

  .u-section-1 .u-btn-4 {
    padding: 2px 0;
  }

  .u-section-1 .u-btn-5 {
    padding: 2px 0;
  }

  .u-section-1 .u-btn-6 {
    padding: 2px 0;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 325px;
  }

  .u-section-1 .u-image-6 {
    height: 168px;
  }

  .u-section-1 .u-image-7 {
    height: 168px;
  }

  .u-section-1 .u-image-8 {
    height: 168px;
  }

  .u-section-1 .u-image-9 {
    height: 168px;
  }

  .u-section-1 .u-image-10 {
    height: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 432px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 830px;
  }

  .u-section-1 .u-image-1 {
    height: 227px;
  }

  .u-section-1 .u-image-2 {
    height: 227px;
  }

  .u-section-1 .u-image-3 {
    height: 255px;
  }

  .u-section-1 .u-image-4 {
    height: 255px;
  }

  .u-section-1 .u-image-5 {
    height: 255px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 830px;
  }

  .u-section-1 .u-image-6 {
    height: 227px;
  }

  .u-section-1 .u-image-7 {
    height: 227px;
  }

  .u-section-1 .u-image-8 {
    height: 227px;
  }

  .u-section-1 .u-image-9 {
    height: 227px;
  }

  .u-section-1 .u-image-10 {
    height: 227px;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 315px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 252px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1401px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 284px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 284px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 442px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 442px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 442px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1401px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 284px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 284px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 284px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 284px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 284px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 52px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 364px;
  }

  .u-section-1 .u-image-2 {
    height: 364px;
  }

  .u-section-1 .u-image-3 {
    height: 272px;
  }

  .u-section-1 .u-image-4 {
    height: 272px;
  }

  .u-section-1 .u-image-5 {
    height: 272px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-6 {
    height: 364px;
  }

  .u-section-1 .u-image-7 {
    height: 364px;
  }

  .u-section-1 .u-image-8 {
    height: 364px;
  }

  .u-section-1 .u-image-9 {
    height: 364px;
  }

  .u-section-1 .u-image-10 {
    height: 364px;
  }
}